<a href="https://colab.research.google.com/github/bh4vyaaaa/Experiment-4-EDPL/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Study Of Tuple

## Study of Tuple in Python

### Name Bhavya Pandya

### PRN 25070123139

### Batch E&TC A1

In [ ]:
## Python Tuples
# Access Tuple Items
Brands = ("BMW", "KTM" , "Honda")
print(Brands[1:3])

('KTM', 'Honda')

In [ ]:
# This Error Shows that replacement is not allowed
Brands = ("BMW", "KTM" , "Honda")
Brands [2] = "Kawasaki"
print(Brands)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Append Items (Tuples dont allow any modification)
Brands = ("BMW", "KTM" , "Honda")
Brands.append("Kawasaki")
print(Brands)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#how to use multiple tuples and how to combine them
t1 = (1,2,3)
t2 = (4,5)
t3 = t2 + t1
print("t1:", t1)
print("t2:", t2)
print("t3:", t3)

t1: (1, 2, 3)
t2: (4, 5)
t3: (4, 5, 1, 2, 3)

In [ ]:
# Result and grade and distinction allocator using tuple
result = ("Maths", 82 , "A")
subject , marks, grade = result
print("Subject:", subject)
print("Marks:", marks)
print("Grade:", grade)
if marks>=75:
  print("Distinction Obtained")

Subject: Maths
Marks: 82
Grade: A
Distinction Obtained

In [ ]:
# Monitoring Attendance of Employees using tuple
attendance = ("P", "A", "A", "A" , "P" , "A")
print("Total Present", attendance.count("P"))
print("Total Absent", attendance.count("A"))
if "A" in attendance:
  print("Attendance is not good")

Total Present 2
Total Absent 4
Attendance is not good